/etherpad-win.exe
/etherpad-win.zip
node_modules
/settings.json
!settings.json.template
APIKEY.txt
SESSIONKEY.txt
var/dirty.db
.env
*~
*.patch
npm-debug.log
*.DS_Store
*.crt
*.key
credentials.json
out/
.nyc_output
.idea
/package-lock.json
/ep_etherpad-lite/bin/abiword.exe
/ep_etherpad-lite/bin/convertSettings.json
/ep_etherpad-lite/bin/etherpad-1.deb
/ep_etherpad-lite/bin/node.exe
plugin_packages
/pnpm-lock.yaml